body {
  font-family: sans;
  font-size: 1em;
}

p.error {
  font-weight: bold;
  color: red;
}

div.logout {
  float: right;
}
form div {
    position: relative;
    height: 1em;
    padding: .25em;
}

form div label {
  position: absolute;
  left: 10px;
  width: 150px;
}

form div input {
    position: absolute;
    left: 160px;
}